@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins";
}

.mission {
  height: 60vh;
  background: url("../components/bg-mission.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.vission {
  height: 60vh;
  background: url("../components/bg-vission.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* bg-gradient-to-r from-pink-300 via-purple-300 to-indigo-400 */
